<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Max Moive World</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="css/half-slider.css" rel="stylesheet">
  <link href="css/star.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>

</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
         data-target="#nav-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Max Movie</a>
      </div>

      <div class="collapse navbar-collapse" id="nav-toggle">
        <ul class="nav navbar-nav">
          <li><a href="/book-1">예매</a></li>
          <li class="active"><a href="/movie">영화</a></li>
          <li><a href="/theater">영화관</a></li>
          <li><a href="/store">스토어</a></li>
          <li><a href="/customer">고객센터</a></li>
          <li><a href="/mypage">My page</a></li>
          <% if(loginsignal2[0].login == 0){ %>
          <li><a href="#" data-target="#login" data-toggle="modal">로그인</a></li>
          <% } %>
          <% if(loginsignal2[0].login == 1){ %>
          <li><a href="#" data-target="#logout" data-toggle="modal">로그아웃</a></li>
          <% } %>
        </ul>
        <% if(loginsignal2[0].login == 1){ %>
        <form class="navbar-form navbar-right">
          <font color=white size=4 fact=궁서> <%= loginsignal[0].name%>님 환영 합니다 </font>
        </form>
        <% } %>
      </div>
    </div>
  </nav>

    <div class="modal fade" id="login" >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h3 style="text-align:center;" class="modal-title">로그인</h3>
            </div>
            <!-- body -->
            <div class="box">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <div class="login-box well">
                  <form action="/" accept-charset="UTF-8" role="form" method="post" action="">
                  <input type="hidden" name="logout_signal" value="0"/>
                      <div class="form-group">
                          <label for="username-email">아이디</label>
                          <input name="user_id" value='' id="username-email" placeholder="E-mail or Username" type="text" class="form-control" />
                      </div>
                      <div class="form-group">
                          <label for="password">비밀번호</label>
                          <input name="password" id="password" value='' placeholder="Password" type="password" class="form-control" />
                      </div>

                      <div class="form-group">
                          <button type="submit" class="btn btn-default btn-block m-t-md" value="Login">Login</button>

                      </div>

                      <input id="check" type="hidden" value="<%=loginsignal.length%>" />

                      <input id="cc" type="hidden" value="<%=loginsignal%>" />

                      <span class='text-center'><a href="/bbs/index.php?mid=index&act=dispMemberFindAccount" class="text-sm"><%=loginsignal[0].id%></a></span>
                      <hr />
                      <div class="form-group">
                          <a href="/join" class="btn btn-default btn-block m-t-md"> 회원가입</a>
                      </div>
                  </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="logout" >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 style="text-align:center;" class="modal-title">로그아웃 하시겠습니까?</h4>
            </div>
            <!-- body -->
            <div class="box">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <div class="login-box well">
                  <form action="/" accept-charset="UTF-8" role="form" method="post" action="">
                          <button type="submit" class="btn btn-default btn-block m-t-md" value="Login">Yes</button>
                          <input type="hidden" name="logout_signal" value="1"/>
                          <input type="hidden" name="logout_id" value="<%=loginsignal[0].id%>"/>
                  </form>

                  <form action="/" accept-charset="UTF-8" role="form" method="get" action="">
                          <button type="submit" class="btn btn-default btn-block m-t-md" value="Logout">No</button>
                          <input type="hidden" name="logout_signal" value="0"/>
                  </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <header id="myCarousel" class="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="carousel-caption1">
          <ul class="nav nav-tabs">
            <li class="dropdown active">
              <a id="dropdownname" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                예매순▼
              </a>
              <ul class="dropdown-menu">
                <li id="sale" class="active"><a href="#dropdown1" data-toggle="tab" aria-expanded="true">예매순</a></li>
                <li class="divider"></li>
                <li id="score" class=""><a href="#dropdown2" data-toggle="tab" aria-expanded="false">평점순</a></li>
              </ul>
            </li>
          </ul>
          <div id="mycontents">
          <div class="mylayout_con">
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="dropdown1">
                <table class="table table-striped table-hover" style="undefined;table-layout: fixed; width: 536px">
                  <colgroup>
                  <col style="width: 60px">
                  <col style="width: 390px">
                  <col style="width: 100px">
                  </colgroup>
                <thead>
                  <tr>
                    <th>순위</th>
                    <th>영화</th>
                    <th>평점</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="success">
                    <td align="center">1</td>
                    <td><%=rows[0].title%></td>
                    <td align="center"><%=rows[0].score%></td>
                  </tr>
                  <tr class="info">
                    <td align="center">2</td>
                    <td><%=rows[1].title%></td>
                    <td align="center"><%=rows[1].score%></td>
                  </tr>
                  <tr class="warning">
                    <td align="center">3</td>
                    <td ><%=rows[2].title%></td>
                    <td align="center"><%=rows[2].score%></td>
                  </tr>
                  <tr>
                    <td align="center">4</td>
                    <td><%=rows[3].title%></td>
                    <td align="center"><%=rows[3].score%></td>
                  </tr>
                  <tr>
                    <td align="center">5</td>
                    <td><%=rows[4].title%></td>
                    <td align="center"><%=rows[4].score%></td>
                  </tr>
                  <tr>
                    <td align="center">6</td>
                    <td><%=rows[5].title%></td>
                    <td align="center"><%=rows[5].score%></td>
                  </tr>
                  <tr>
                    <td align="center">7</td>
                    <td><%=rows[6].title%></td>
                    <td align="center"><%=rows[6].score%></td>
                  </tr>
                  <tr>
                    <td align="center">8</td>
                    <td><%=rows[7].title%></td>
                    <td align="center"><%=rows[7].score%></td>
                  </tr>
                </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="dropdown2">
              <table class="table table-striped table-hover" style="undefined;table-layout: fixed; width: 536px">
                <colgroup>
                <col style="width: 60px">
                <col style="width: 390px">
                <col style="width: 100px">
                </colgroup>
              <thead>
                <tr>
                  <th>순위</th>
                  <th>영화</th>
                  <th>평점</th>
                </tr>
              </thead>
              <tbody>
                <tr class="success">
                  <td align="center">1</td>
                  <td ><%=rows0[0].title%></td>
                  <td align="center"><%=rows0[0].score%></td>
                </tr>
                <tr class="info">
                  <td align="center">2</td>
                  <td><%=rows0[1].title%></td>
                  <td align="center"><%=rows0[1].score%></td>
                </tr>
                <tr class="warning">
                  <td align="center">3</td>
                  <td><%=rows0[2].title%></td>
                  <td align="center"><%=rows0[2].score%></td>
                </tr>
                <tr>
                  <td align="center">4</td>
                  <td><%=rows0[3].title%></td>
                  <td align="center"><%=rows0[3].score%></td>
                </tr>
                <tr>
                  <td align="center">5</td>
                  <td><%=rows0[4].title%></td>
                  <td align="center"><%=rows0[4].score%></td>
                </tr>
                <tr>
                  <td align="center">6</td>
                  <td><%=rows0[5].title%></td>
                  <td align="center"><%=rows0[5].score%></td>
                </tr>
                <tr>
                  <td align="center">7</td>
                  <td><%=rows0[6].title%></td>
                  <td align="center"><%=rows0[6].score%></td>
                </tr>
                <tr>
                  <td align="center">8</td>
                  <td><%=rows0[7].title%></td>
                  <td align="center"><%=rows0[7].score%></td>
                </tr>
              </tbody>
              </table>
            </div>
          </div></div>
          <div class="mylayout_right">

            <div class="mycontainer">
              <div class="row">
                      <div class="col-lg-12">
                          <h3 class="text-left">추천 영화 :
                              <strong>보스 베이비</strong>
                          </h3>
                          
                      </div>
                      <div class="col-md-4">
                          <img class="" src="img/BossBaby.jpg" width="180px" height="220px">
                      </div>
                      <div class="col-md-8" >
                        <h5>장르: <%=rows[0].genre%></h5>
                        <h5>개봉일: <%=rows[0].openday%></h5>
                        <h5>감독: <%=rows[0].director%></h5>
                        <h5>출연진: <%=rows[0].actor%></h5>
                        <h5>관객수: <%=rows[0].people%></h5>
                        <h3></h3>
                        <h5>시크한 눈빛, 쫙 빠진 수트핏, 귀여운 얼굴 뒤 숨겨진 반전포스, 세상에 없던 베이비가 온다!</h5>
                      </div>
              </div>

          </div></div>
        </div>
      </div>
    </div>
  </header>
  <!-- /.container -->

  <!-- Script to Activate the Carousel -->
  <script>
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  })
  </script>

  <script type="text/javascript">
  $(function(){
    $("#btn1").click(function(){
        $("#btn1_setting").removeClass("active");
        $("#btn1_setting").addClass("active");
        $("#btn2_setting").removeClass("active");
        $("#btn3_setting").removeClass("active");
    });
  });
  </script>

  <script type="text/javascript">
  $(function(){
    $("#btn2").click(function(){
        $("#btn2_setting").addClass("active");
        $("#btn1_setting").removeClass("active");
        $("#btn3_setting").removeClass("active");
    });
  });
  </script>

  <script type="text/javascript">
  $(function(){
    $("#btn3").click(function(){
        $("#btn3_setting").addClass("active");
        $("#btn1_setting").removeClass("active");
        $("#btn2_setting").removeClass("active");
    });
  });
  </script>
  <% var oneItem = rows; %>

  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <hr class="colorgraph">
              <center>
                <ul class="list-inline intro-social-buttons">
                  <li id="btn1">
                    <a id="btn1_setting" href="#boxoffice" data-toggle="tab" aria-expanded="true" class="btn btn-default btn-lg active">박스오피스</a>
                  </li>
                  <li id="btn2">
                    <a id="btn2_setting" href="#new" data-toggle="tab" aria-expanded="false" class="btn btn-default btn-lg">최신개봉작</a>
                  </li>
                  <li id="btn3">
                    <a id="btn3_setting" href="#soon" data-toggle="tab" aria-expanded="false" class="btn btn-default btn-lg">상영예정작</a>
                  </li>
                </ul>
                <hr class="intro-divider">
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="boxoffice">
                    <div class="row text-center">
                      <div class="col-md-3 col-sm-6 hero-feature">
                        <div class="thumbnail">
                          <img src="<%=oneItem[0].image%>" alt="">
                          <div class="caption">
                            <h3><%=rows[0].title%></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                              <a href="#" class="btn btn-primary">예매하기</a>
                              <button class="btn btn-default" data-target="#layerpop" data-toggle="modal">상세정보</button><br>
                              <div class="modal fade" id="layerpop" >
                                <div class="modal-dialog modal-lg">
                                  <div class="modal-content">
                                    <!-- header -->
                                    <div class="modal-header">
                                      <!-- 닫기(x) 버튼 -->
                                      <button type="button" class="close" data-dismiss="modal">×</button>
                                      <!-- header title -->
                                      <h3 class="modal-title"><img src="<%=oneItem[0].grade%>" alt=""> <strong><%=oneItem[0].title%></strong></h3>
                                    </div>
                                    <!-- body -->
                                    <div class="box">
                                      <div class="col-lg-12">
                                        <div style="width:30%; float:left;">
                                          <img class="img-responsive img-border img-left" src="<%=oneItem[0].image2%>" alt="">
                                        </div>
                                        <br>
                                        <div style="width:65%; float:right">
                                        <div class="reservation_wrap">
                                        <span class="grade"><span style="width:<%=oneItem[0].score * 10%>%"></span></span>
                                        <div style="padding-left:30px; float:left; font-size:20px; color:red"><strong><%=oneItem[0].score%></strong></div>
                                        <div style="padding-left:20px;float:left;padding-top:7px;font-size:12px;">예매율 </div>
                                        <div style="float:left; font-size:20px;"><strong>1</strong>위</div>
                                        <br>

                                        <p class="left_p">
                                         <div class="intro-text text-left"> <%=oneItem[0].scorepeople%>명참여</div>
                                        </p>
                                        </div>
                                          <h4 class="intro-text text-left"><strong>장르</strong>: <%=oneItem[0].genre%> / <%=oneItem[0].time%>분</h4><br>
                                          <h4 class="intro-text text-left"><strong>개봉일</strong>: <%=oneItem[0].openday%></h4><br>
                                          <h4 class="intro-text text-left"><strong>감독</strong>: <%=oneItem[0].director%></h4><br>
                                          <h4 class="intro-text text-left"><strong>출연진</strong>: <%=oneItem[0].actor%></h4><br>
                                          <h4 class="intro-text text-left"><strong>관객수</strong>: <%=oneItem[0].people%> 명</h4><br>
                                          <hr class="visible-xs">
                                        </div>
                                      </div>
                                    </div>
                                    <!-- Footer -->
                                    <div class="modal-footer">
                                        <a href="/book" class="btn btn-default btn-lg">예매하기</a>
                                        <a href="/book" class="btn btn-default btn-lg">찜하기</a>
                                      <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-6 hero-feature">
                          <div class="thumbnail">
                              <img src="<%=oneItem[1].image%>" alt="">
                              <div class="caption">
                                <h3><%=rows[1].title%></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p>
                                  <a href="#" class="btn btn-primary">예매하기</a>
                                  <button class="btn btn-default" data-target="#layerpop1" data-toggle="modal">상세정보</button><br/>
                                  <div class="modal fade" id="layerpop1" >
                                    <div class="modal-dialog modal-lg">
                                      <div class="modal-content">
                                        <!-- header -->
                                        <div class="modal-header">
                                          <!-- 닫기(x) 버튼 -->
                                          <button type="button" class="close" data-dismiss="modal">×</button>
                                          <!-- header title -->
                                          <h3 class="modal-title"><img src="<%=oneItem[1].grade%>" alt=""> <%=oneItem[1].title%></h3>
                                          </div>
                                          <!-- body -->
                                          <div class="box">
                                            <div class="col-lg-12">
                                              <div style="width:30%; float:left;">
                                                <img class="img-responsive img-border img-left" src="<%=oneItem[1].image2%>" alt="">
                                              </div>
                                              <div style="width:65%; float:right">
                                            <div class="reservation_wrap">
                                            <span class="grade"><span style="width:<%=oneItem[1].score * 10%>%"></span></span>
                                            <div style="padding-left:30px; float:left; font-size:20px; color:red"><strong><%=oneItem[1].score%></strong></div>
                                            <div style="padding-left:20px;float:left;padding-top:7px;font-size:12px;">예매율 </div>
                                            <div style="float:left; font-size:20px;"><strong>2</strong>위</div><br>

                                            <p class="left_p">
                                             <div class="intro-text text-left"> <%=oneItem[1].scorepeople%>명참여</div>
                                            </p>
                                            </div>
                                            <h4 class="intro-text text-left"><strong>장르</strong>: <%=oneItem[1].genre%></h4><br>
                                            <h4 class="intro-text text-left"><strong>개봉일</strong>: <%=oneItem[1].openday%></h4><br>
                                            <h4 class="intro-text text-left"><strong>감독</strong>: <%=oneItem[1].director%></h4><br>
                                            <h4 class="intro-text text-left"><strong>출연진</strong>: <%=oneItem[1].actor%></h4><br>
                                            <h4 class="intro-text text-left"><strong>관객수</strong>: <%=oneItem[1].people%></h4><br>
                                                <hr class="visible-xs">
                                              </div>
                                            </div>
                                          </div>
                                        <!-- Footer -->
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </p>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3 col-sm-6 hero-feature">
                          <div class="thumbnail">
                              <img src="<%=oneItem[2].image%>" alt="">
                              <div class="caption">
                                  <h3><%=rows[2].title%></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  <p>
                                    <a href="#" class="btn btn-primary">예매하기</a>
                                    <button class="btn btn-default" data-target="#layerpop2" data-toggle="modal">상세정보</button><br/>
                                    <div class="modal fade" id="layerpop2" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- 닫기(x) 버튼 -->
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <!-- header title -->
                                            <h3 class="modal-title"><img src="<%=oneItem[2].grade%>" alt=""> <%=oneItem[2].title%></h3>
                                            </div>
                                            <!-- body -->
                                            <div class="box">
                                              <div class="col-lg-12">
                                                <div style="width:30%; float:left;">
                                                  <img class="img-responsive img-border img-left" src="<%=oneItem[2].image2%>" alt="">
                                                </div>
                                                <div style="width:65%; float:right">
                                            <div class="reservation_wrap">
                                            <span class="grade"><span style="width:<%=oneItem[2].score * 10%>%"></span></span>
                                            <div style="padding-left:30px; float:left; font-size:20px; color:red"><strong><%=oneItem[2].score%></strong></div>
                                            <div style="padding-left:20px;float:left;padding-top:7px;font-size:12px;">예매율 </div>
                                            <div style="float:left; font-size:20px;"><strong>3</strong>위</div><br>

                                            <p class="left_p">
                                             <div class="intro-text text-left"> <%=oneItem[2].scorepeople%>명참여</div>
                                            </p>
                                            </div>
                                            <h4 class="intro-text text-left"><strong>장르</strong>: <%=oneItem[2].genre%></h4><br>
                                            <h4 class="intro-text text-left"><strong>개봉일</strong>: <%=oneItem[2].openday%></h4><br>
                                            <h4 class="intro-text text-left"><strong>감독</strong>: <%=oneItem[2].director%></h4><br>
                                            <h4 class="intro-text text-left"><strong>출연진</strong>: <%=oneItem[2].actor%></h4><br>
                                            <h4 class="intro-text text-left"><strong>관객수</strong>: <%=oneItem[2].people%></h4><br>
                                                <hr class="visible-xs">
                                              </div>
                                              </div>
                                            </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </p>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3 col-sm-6 hero-feature">
                          <div class="thumbnail">
                              <img src="<%=oneItem[3].image%>" alt="">
                              <div class="caption">
                                  <h3><%=rows[3].title%></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  <p>
                                      <a href="#" class="btn btn-primary">예매하기</a>
                                      <button class="btn btn-default" data-target="#layerpop3" data-toggle="modal">상세정보</button><br/>
                                      <div class="modal fade" id="layerpop3" >
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <!-- header -->
                                            <div class="modal-header">
                                              <!-- 닫기(x) 버튼 -->
                                              <button type="button" class="close" data-dismiss="modal">×</button>
                                              <!-- header title -->
                                              <h3 class="modal-title"><img src="<%=oneItem[3].grade%>" alt=""> <%=oneItem[3].title%></h3>
                                              </div>
                                              <!-- body -->
                                              <div class="box">
                                                <div class="col-lg-12">
                                                  <div style="width:30%; float:left;">
                                                    <img class="img-responsive img-border img-left" src="<%=oneItem[3].image2%>" alt="">
                                                  </div>
                                                  <div style="width:65%; float:right">
                                            <div class="reservation_wrap">
                                            <span class="grade"><span style="width:<%=oneItem[3].score * 10%>%"></span></span>
                                            <div style="padding-left:30px; float:left; font-size:20px; color:red"><strong><%=oneItem[3].score%></strong></div>
                                            <div style="padding-left:20px;float:left;padding-top:7px;font-size:12px;">예매율 </div>
                                            <div style="float:left; font-size:20px;"><strong>4</strong>위</div><br>

                                            <p class="left_p">
                                             <div class="intro-text text-left"> <%=oneItem[3].scorepeople%>명참여</div>
                                            </p>
                                            </div>
                                            <h4 class="intro-text text-left"><strong>장르</strong>: <%=oneItem[3].genre%></h4><br>
                                            <h4 class="intro-text text-left"><strong>개봉일</strong>: <%=oneItem[3].openday%></h4><br>
                                            <h4 class="intro-text text-left"><strong>감독</strong>: <%=oneItem[3].director%></h4><br>
                                            <h4 class="intro-text text-left"><strong>출연진</strong>: <%=oneItem[3].actor%></h4><br>
                                            <h4 class="intro-text text-left"><strong>관객수</strong>: <%=oneItem[3].people%></h4><br>
                                                <hr class="visible-xs">
                                              </div>
                                                </div>
                                              </div>
                                            <!-- Footer -->
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </p>
                              </div>
                          </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <% var oneItem2 = rows2; %>
                  <div class="tab-pane fade" id="new">
                    <div class="row text-center">
                      <div class="col-md-3 col-sm-6 hero-feature">
                          <div class="thumbnail">
                              <img src="<%=oneItem2[0].image%>" alt="">
                              <div class="caption">
                                  <h3><%=rows2[0].title%></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  <p>
                                    <a href="#" class="btn btn-primary">예매하기</a>
                                    <button class="btn btn-default" data-target="#layerpop4" data-toggle="modal">상세정보</button><br/>
                                    <div class="modal fade" id="layerpop4" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- 닫기(x) 버튼 -->
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <!-- header title -->
                                            <h3 class="modal-title"><img src="<%=oneItem2[0].grade%>" alt=""> <%=oneItem2[0].title%></h3>
                                            </div>
                                            <!-- body -->
                                            <div class="box">
                                              <div class="col-lg-12">
                                                <div style="width:30%; float:left;">
                                                  <img class="img-responsive img-border img-left" src="<%=oneItem2[0].image2%>" alt="">
                                                </div>
                                                <div style="width:65%; float:right">
                                            <div class="reservation_wrap">
                                            <span class="grade"><span style="width:<%=oneItem2[0].score * 10%>%"></span></span>
                                            <div style="padding-left:30px; float:left; font-size:20px; color:red"><strong><%=oneItem2[0].score%></strong></div>
                                            <div style="padding-left:20px;float:left;padding-top:7px;font-size:12px;">예매율 </div>
                                            <div style="float:left; font-size:20px;"><strong>1</strong>위</div><br>

                                            <p class="left_p">
                                             <div class="intro-text text-left"> <%=oneItem2[0].scorepeople%>명참여</div>
                                            </p>
                                            </div>
                                            <h4 class="intro-text text-left"><strong>장르</strong>: <%=oneItem2[0].genre%></h4><br>
                                            <h4 class="intro-text text-left"><strong>개봉일</strong>: <%=oneItem2[0].openday%></h4><br>
                                            <h4 class="intro-text text-left"><strong>감독</strong>: <%=oneItem2[0].director%></h4><br>
                                            <h4 class="intro-text text-left"><strong>출연진</strong>: <%=oneItem2[0].actor%></h4><br>
                                            <h4 class="intro-text text-left"><strong>관객수</strong>: <%=oneItem2[0].people%></h4><br>
                                                <hr class="visible-xs">
                                              </div>
                                              </div>
                                            </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 hero-feature">
                          <div class="thumbnail">
                              <img src="<%=oneItem2[1].image%>" alt="">
                              <div class="caption">
                                  <h3><%=rows2[1].title%></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  <p>
                                    <a href="#" class="btn btn-primary">예매하기</a>
                                    <button class="btn btn-default" data-target="#layerpop5" data-toggle="modal">상세정보</button><br/>
                                    <div class="modal fade" id="layerpop5" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- 닫기(x) 버튼 -->
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <!-- header title -->
                                            <h3 class="modal-title"><img src="<%=oneItem2[1].grade%>" alt=""> <%=oneItem2[1].title%></h3>
                                            </div>
                                            <!-- body -->
                                            <div class="box">
                                              <div class="col-lg-12">
                                                <div style="width:30%; float:left;">
                                                  <img class="img-responsive img-border img-left" src="<%=oneItem2[1].image2%>" alt="">
                                                </div>
                                                <div style="width:65%; float:right">
                                                <div class="reservation_wrap">
                                                <span class="grade"><span style="width:<%=oneItem2[1].score * 10%>%"></span></span>
                                                <div style="padding-left:30px; float:left; font-size:20px; color:red"><strong><%=oneItem2[1].score%></strong></div>
                                                <div style="padding-left:20px;float:left;padding-top:7px;font-size:12px;">예매율 </div>
                                                <div style="float:left; font-size:20px;"><strong>1</strong>위</div><br>

                                                <p class="left_p">
                                                 <div class="intro-text text-left"> <%=oneItem2[1].scorepeople%>명참여</div>
                                                </p>
                                                </div>
                                            <h4 class="intro-text text-left"><strong>장르</strong>: <%=oneItem2[1].genre%></h4><br>
                                            <h4 class="intro-text text-left"><strong>개봉일</strong>: <%=oneItem2[1].openday%></h4><br>
                                            <h4 class="intro-text text-left"><strong>감독</strong>: <%=oneItem2[1].director%></h4><br>
                                            <h4 class="intro-text text-left"><strong>출연진</strong>: <%=oneItem2[1].actor%></h4><br>
                                            <h4 class="intro-text text-left"><strong>관객수</strong>: <%=oneItem2[1].people%></h4><br>
                                                <hr class="visible-xs">
                                              </div>
                                              </div>
                                            </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </p>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3 col-sm-6 hero-feature">
                          <div class="thumbnail">
                              <img src="<%=oneItem2[2].image%>" alt="">
                              <div class="caption">
                                  <h3><%=rows2[2].title%></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  <p>
                                    <a href="#" class="btn btn-primary">예매하기</a>
                                    <button class="btn btn-default" data-target="#layerpop6" data-toggle="modal">상세정보</button><br/>
                                    <div class="modal fade" id="layerpop6" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- 닫기(x) 버튼 -->
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <!-- header title -->
                                            <h3 class="modal-title"><img src="<%=oneItem2[2].grade%>" alt=""> <%=oneItem2[2].title%></h3>
                                            </div>
                                            <!-- body -->
                                            <div class="box">
                                              <div class="col-lg-12">
                                                <div style="width:30%; float:left;">
                                                  <img class="img-responsive img-border img-left" src="<%=oneItem2[2].image2%>" alt="">
                                                </div>
                                                <div style="width:65%; float:right">
                                                <div class="reservation_wrap">
                                                <span class="grade"><span style="width:<%=oneItem2[2].score * 10%>%"></span></span>
                                                <div style="padding-left:30px; float:left; font-size:20px; color:red"><strong><%=oneItem2[2].score%></strong></div>
                                                <div style="padding-left:20px;float:left;padding-top:7px;font-size:12px;">예매율 </div>
                                                <div style="float:left; font-size:20px;"><strong>1</strong>위</div><br>

                                                <p class="left_p">
                                                 <div class="intro-text text-left"> <%=oneItem2[2].scorepeople%>명참여</div>
                                                </p>
                                                </div>
                                            <h4 class="intro-text text-left"><strong>장르</strong>: <%=oneItem2[2].genre%></h4><br>
                                            <h4 class="intro-text text-left"><strong>개봉일</strong>: <%=oneItem2[2].openday%></h4><br>
                                            <h4 class="intro-text text-left"><strong>감독</strong>: <%=oneItem2[2].director%></h4><br>
                                            <h4 class="intro-text text-left"><strong>출연진</strong>: <%=oneItem2[2].actor%></h4><br>
                                            <h4 class="intro-text text-left"><strong>관객수</strong>: <%=oneItem2[2].people%></h4><br>
                                            <h4 class="intro-text text-left"><strong>평점</strong>: <%=oneItem2[2].score%></h4>
                                                <hr class="visible-xs">
                                              </div>
                                              </div>
                                            </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </p>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3 col-sm-6 hero-feature">
                          <div class="thumbnail">
                              <img src="<%=oneItem2[3].image%>" alt="">
                              <div class="caption">
                                  <h3><%=rows2[3].title%></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  <p>
                                    <a href="#" class="btn btn-primary">예매하기</a>
                                    <button class="btn btn-default" data-target="#layerpop7" data-toggle="modal">상세정보</button><br/>
                                    <div class="modal fade" id="layerpop7" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- 닫기(x) 버튼 -->
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <!-- header title -->
                                            <h3 class="modal-title"><img src="<%=oneItem2[3].grade%>" alt=""> <%=oneItem2[3].title%></h3>
                                            </div>
                                            <!-- body -->
                                            <div class="box">
                                              <div class="col-lg-12">
                                                <div style="width:30%; float:left;">
                                                  <img class="img-responsive img-border img-left" src="<%=oneItem2[3].image2%>" alt="">
                                                </div>
                                                <div style="width:65%; float:right">
                                                <div class="reservation_wrap">
                                                <span class="grade"><span style="width:<%=oneItem2[3].score * 10%>%"></span></span>
                                                <div style="padding-left:30px; float:left; font-size:20px; color:red"><strong><%=oneItem2[3].score%></strong></div>
                                                <div style="padding-left:20px;float:left;padding-top:7px;font-size:12px;">예매율 </div>
                                                <div style="float:left; font-size:20px;"><strong>1</strong>위</div><br>

                                                <p class="left_p">
                                                 <div class="intro-text text-left"> <%=oneItem2[3].scorepeople%>명참여</div>
                                                </p>
                                                </div>
                                            <h4 class="intro-text text-left"><strong>장르</strong>: <%=oneItem2[3].genre%></h4><br>
                                            <h4 class="intro-text text-left"><strong>개봉일</strong>: <%=oneItem2[3].openday%></h4><br>
                                            <h4 class="intro-text text-left"><strong>감독</strong>: <%=oneItem2[3].director%></h4><br>
                                            <h4 class="intro-text text-left"><strong>출연진</strong>: <%=oneItem2[3].actor%></h4><br>
                                            <h4 class="intro-text text-left"><strong>관객수</strong>: <%=oneItem2[3].people%></h4><br>
                                                <hr class="visible-xs">
                                              </div>
                                              </div>
                                            </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </p>
                              </div>
                          </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <% var oneItem3 = rows3; %>
                  <% var dday = dday; %>
                  <div class="tab-pane fade" id="soon">
                    <div class="row text-center">
                      <div class="col-md-3 col-sm-6 hero-feature">
                          <div class="thumbnail">
                              <img src="<%=oneItem3[0].image%>" alt="">
                              <div class="caption">
                                  <h3><%=rows3[0].title%></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  <p>
                                    <a href="#" class="btn btn-primary">예매하기</a>
                                    <button class="btn btn-default" data-target="#layerpop8" data-toggle="modal">상세정보</button><br/>
                                    <div class="modal fade" id="layerpop8" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- 닫기(x) 버튼 -->
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <!-- header title -->
                                            <h3 class="modal-title"><img src="<%=oneItem3[0].grade%>" alt=""> <%=oneItem3[0].title%></h3>
                                            </div>
                                            <!-- body -->
                                            <div class="box">
                                              <div class="col-lg-12">
                                                <div style="width:30%; float:left;">
                                                  <img class="img-responsive img-border img-left" src="<%=oneItem3[0].image2%>" alt="">
                                                </div>
                                                <div style="width:65%; float:right">
                                                <div class="reservation_wrap">
                                                <span class="grade"><span style="width:<%=oneItem3[0].score * 10%>%"></span></span>
                                                <div style="padding-left:30px; float:left; font-size:20px; color:red"><strong><%=oneItem3[0].score%></strong></div>
                                                <div style="padding-left:20px;float:left;padding-top:7px;font-size:12px;">개봉 </div>
                                                <div style="float:left; font-size:20px;"><strong>1</strong>위</div><br>

                                                <p class="left_p">
                                                 <div class="intro-text text-left"> <%=oneItem3[0].scorepeople%>명참여</div>
                                                </p>
                                                </div>
                                            <h4 class="intro-text text-left"><strong>장르</strong>: <%=oneItem3[0].genre%></h4><br>
                                            <h4 class="intro-text text-left"><strong>개봉일</strong>: <%=oneItem3[0].openday%></h4><br>
                                            <h4 class="intro-text text-left"><strong>감독</strong>: <%=oneItem3[0].director%></h4><br>
                                            <h4 class="intro-text text-left"><strong>출연진</strong>: <%=oneItem3[0].actor%></h4><br>
                                            <h4 class="intro-text text-left"><strong>관객수</strong>: <%=oneItem3[0].people%></h4><br>
                                                <hr class="visible-xs">
                                              </div>
                                              </div>
                                            </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 hero-feature">
                          <div class="thumbnail">
                              <img src="<%=oneItem3[1].image%>" alt="">
                              <div class="caption">
                                  <h3><%=rows3[1].title%></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  <p>
                                    <a href="#" class="btn btn-primary">예매하기</a>
                                    <button class="btn btn-default" data-target="#layerpop9" data-toggle="modal">상세정보</button><br/>
                                    <div class="modal fade" id="layerpop9" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- 닫기(x) 버튼 -->
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <!-- header title -->
                                            <h3 class="modal-title"><img src="<%=oneItem3[1].grade%>" alt=""> <%=oneItem3[1].title%></h3>
                                            </div>
                                            <!-- body -->
                                            <div class="box">
                                              <div class="col-lg-12">
                                                <div style="width:30%; float:left;">
                                                  <img class="img-responsive img-border img-left" src="<%=oneItem3[1].image2%>" alt="">
                                                </div>
                                                <div style="width:65%; float:right">
                                                <div class="reservation_wrap">
                                                <span class="grade"><span style="width:<%=oneItem3[1].score * 10%>%"></span></span>
                                                <div style="padding-left:30px; float:left; font-size:20px; color:red"><strong><%=oneItem3[1].score%></strong></div>
                                                <div style="padding-left:20px;float:left;padding-top:7px;font-size:12px;">예매율 </div>
                                                <div style="float:left; font-size:20px;"><strong>1</strong>위</div><br>

                                                <p class="left_p">
                                                 <div class="intro-text text-left"> <%=oneItem3[1].scorepeople%>명참여</div>
                                                </p>
                                                </div>
                                            <h4 class="intro-text text-left"><strong>장르</strong>: <%=oneItem3[1].genre%></h4><br>
                                            <h4 class="intro-text text-left"><strong>개봉일</strong>: <%=oneItem3[1].openday%></h4><br>
                                            <h4 class="intro-text text-left"><strong>감독</strong>: <%=oneItem3[1].director%></h4><br>
                                            <h4 class="intro-text text-left"><strong>출연진</strong>: <%=oneItem3[1].actor%></h4><br>
                                            <h4 class="intro-text text-left"><strong>관객수</strong>: <%=oneItem3[1].people%></h4><br>
                                                <hr class="visible-xs">
                                              </div>
                                              </div>
                                            </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 hero-feature">
                          <div class="thumbnail">
                              <img src="<%=oneItem3[2].image%>" alt="">
                              <div class="caption">
                                  <h3><%=rows3[2].title%></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  <p>
                                    <a href="#" class="btn btn-primary">예매하기</a>
                                    <button class="btn btn-default" data-target="#layerpop10" data-toggle="modal">상세정보</button><br/>
                                    <div class="modal fade" id="layerpop10" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- 닫기(x) 버튼 -->
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <!-- header title -->
                                            <h3 class="modal-title"><img src="<%=oneItem3[2].grade%>" alt=""> <%=oneItem3[2].title%></h3>
                                            </div>
                                            <!-- body -->
                                            <div class="box">
                                              <div class="col-lg-12">
                                                <div style="width:30%; float:left;">
                                                  <img class="img-responsive img-border img-left" src="<%=oneItem3[2].image2%>" alt="">
                                                </div>
                                                <div style="width:65%; float:right">
                                                <div class="reservation_wrap">
                                                <span class="grade"><span style="width:<%=oneItem3[2].score * 10%>%"></span></span>
                                                <div style="padding-left:30px; float:left; font-size:20px; color:red"><strong><%=oneItem3[2].score%></strong></div>
                                                <div style="padding-left:20px;float:left;padding-top:7px;font-size:12px;">예매율 </div>
                                                <div style="float:left; font-size:20px;"><strong>1</strong>위</div><br>

                                                <p class="left_p">
                                                 <div class="intro-text text-left"> <%=oneItem3[2].scorepeople%>명참여</div>
                                                </p>
                                                </div>
                                            <h4 class="intro-text text-left"><strong>장르</strong>: <%=oneItem3[2].genre%></h4><br>
                                            <h4 class="intro-text text-left"><strong>개봉일</strong>: <%=oneItem3[2].openday%></h4><br>
                                            <h4 class="intro-text text-left"><strong>감독</strong>: <%=oneItem3[2].director%></h4><br>
                                            <h4 class="intro-text text-left"><strong>출연진</strong>: <%=oneItem3[2].actor%></h4><br>
                                            <h4 class="intro-text text-left"><strong>관객수</strong>: <%=oneItem3[2].people%></h4><br>
                                                <hr class="visible-xs">
                                              </div>
                                              </div>
                                            </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 hero-feature">
                          <div class="thumbnail">
                              <img src="<%=oneItem3[3].image%>" alt="">
                              <div class="caption">
                                  <h3><%=rows3[3].title%></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  <p>
                                    <a href="#" class="btn btn-primary">예매하기</a>
                                    <button class="btn btn-default" data-target="#layerpop11" data-toggle="modal">상세정보</button><br/>
                                    <div class="modal fade" id="layerpop11">
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- 닫기(x) 버튼 -->
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <!-- header title -->
                                            <h3 class="modal-title"><img src="<%=oneItem3[3].grade%>" alt=""> <%=oneItem3[3].title%></h3>
                                            </div>
                                            <!-- body -->
                                            <div class="box">
                                              <div class="col-lg-12">
                                                <div style="width:30%; float:left;">
                                                  <img class="img-responsive img-border img-left" src="<%=oneItem3[3].image2%>" alt="">
                                                </div>
                                                <div style="width:65%; float:right">
                                                <div class="reservation_wrap">
                                                <span class="grade"><span style="width:<%=oneItem3[3].score * 10%>%"></span></span>
                                                <div style="padding-left:30px; float:left; font-size:20px; color:red"><strong><%=oneItem3[3].score%></strong></div>
                                                <div style="padding-left:20px;float:left;padding-top:7px;font-size:12px;">예매율 </div>
                                                <div style="float:left; font-size:20px;"><strong>1</strong>위</div><br>

                                                <p class="left_p">
                                                 <div class="intro-text text-left"> <%=oneItem3[3].scorepeople%>명참여</div>
                                                </p>
                                                </div>
                                            <h4 class="intro-text text-left"><strong>장르</strong>: <%=oneItem3[3].genre%></h4><br>
                                            <h4 class="intro-text text-left"><strong>개봉일</strong>: <%=oneItem3[3].openday%></h4><br>
                                            <h4 class="intro-text text-left"><strong>감독</strong>: <%=oneItem3[3].director%></h4><br>
                                            <h4 class="intro-text text-left"><strong>출연진</strong>: <%=oneItem3[3].actor%></h4><br>
                                            <h4 class="intro-text text-left"><strong>관객수</strong>: <%=oneItem3[3].people%></h4><br>
                                                <hr class="visible-xs">
                                              </div>
                                              </div>
                                            </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </p>
                              </div>
                          </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                </div>
              </center>
            </hr>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Features -->

</body>
</html>
