<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Max Moive World</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="css/half-slider.css" rel="stylesheet">
  <link href="css/star.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>

</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
         data-target="#nav-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Max Movie</a>
      </div>

      <div class="collapse navbar-collapse" id="nav-toggle">
        <ul class="nav navbar-nav">
          <li><a href="/book-1">예매</a></li>
          <li><a href="/movie">영화</a></li>
          <li><a href="/theater">영화관</a></li>
          <li class="active"><a href="/store">스토어</a></li>
          <li><a href="/customer">고객센터</a></li>
          <li><a href="/mypage">My page</a></li>
          <% if(loginsignal2[0].login == 0){ %>
          <li><a href="#" data-target="#login" data-toggle="modal">로그인</a></li>
          <% } %>
          <% if(loginsignal2[0].login == 1){ %>
          <li><a href="#" data-target="#logout" data-toggle="modal">로그아웃</a></li>
          <% } %>
        </ul>
        <% if(loginsignal2[0].login == 1){ %>
        <form class="navbar-form navbar-right">
          <font color=white size=4 fact=궁서> <%= loginsignal[0].name%>님 환영 합니다 </font>
        </form>
        <% } %>
      </div>
    </div>
  </nav>

    <div class="modal fade" id="login" >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h3 style="text-align:center;" class="modal-title">로그인</h3>
            </div>
            <!-- body -->
            <div class="box">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <div class="login-box well">
                  <form action="/" accept-charset="UTF-8" role="form" method="post" action="">
                  <input type="hidden" name="logout_signal" value="0"/>
                      <div class="form-group">
                          <label for="username-email">아이디</label>
                          <input name="user_id" value='' id="username-email" placeholder="E-mail or Username" type="text" class="form-control" />
                      </div>
                      <div class="form-group">
                          <label for="password">비밀번호</label>
                          <input name="password" id="password" value='' placeholder="Password" type="password" class="form-control" />
                      </div>

                      <div class="form-group">
                          <button type="submit" class="btn btn-default btn-block m-t-md" value="Login">Login</button>

                      </div>

                      <input id="check" type="hidden" value="<%=loginsignal.length%>" />

                      <input id="cc" type="hidden" value="<%=loginsignal%>" />

                      <span class='text-center'><a href="/bbs/index.php?mid=index&act=dispMemberFindAccount" class="text-sm"><%=loginsignal[0].id%></a></span>
                      <hr />
                      <div class="form-group">
                          <a href="/join" class="btn btn-default btn-block m-t-md"> 회원가입</a>
                      </div>
                  </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="logout" >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 style="text-align:center;" class="modal-title">로그아웃 하시겠습니까?</h4>
            </div>
            <!-- body -->
            <div class="box">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <div class="login-box well">
                  <form action="/" accept-charset="UTF-8" role="form" method="post" action="">
                          <button type="submit" class="btn btn-default btn-block m-t-md" value="Login">Yes</button>
                          <input type="hidden" name="logout_signal" value="1"/>
                          <input type="hidden" name="logout_id" value="<%=loginsignal[0].id%>"/>
                  </form>

                  <form action="/" accept-charset="UTF-8" role="form" method="get" action="">
                          <button type="submit" class="btn btn-default btn-block m-t-md" value="Logout">No</button>
                          <input type="hidden" name="logout_signal" value="0"/>
                  </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <header id="myCarousel" class="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="fill" style="background-image:url('img/store.jpg');">
        </div>
        <div class="carousel-caption" style="text-align:left">
          <h2>스토어</h2>
          <h4>Store</h4>
        </div>
      </div>
  </header>

  <script type="text/javascript">
    $(function(){
      $("#minus").click(function(){
        if($("#layerpop_num").val() > 1){
          $("#layerpop_num").val(+$("#layerpop_num").val() - 1);
          var val = 4000 * $("#layerpop_num").val();
          $("#layerpop_val").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#plus").click(function(){
        if($("#layerpop_num").val() < 8) {
          $("#layerpop_num").val(+$("#layerpop_num").val() + 1);
          var val = 4000 * $("#layerpop_num").val();
          $("#layerpop_val").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#layerpop_cancel").click(function(){
        $("#layerpop_num").val(1);
        $("#layerpop_val").text("4000");
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#minus1").click(function(){
        if($("#layerpop_num1").val() > 1){
          $("#layerpop_num1").val(+$("#layerpop_num1").val() - 1);
          var val = 3000 * $("#layerpop_num1").val();
          $("#layerpop_val1").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#plus1").click(function(){
        if($("#layerpop_num1").val() < 8) {
          $("#layerpop_num1").val(+$("#layerpop_num1").val() + 1);
          var val = 3000 * $("#layerpop_num1").val();
          $("#layerpop_val1").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#layerpop_cancel1").click(function(){
        $("#layerpop_num1").val(1);
        $("#layerpop_val1").text("3000");
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#minus2").click(function(){
        if($("#layerpop_num2").val() > 1){
          $("#layerpop_num2").val(+$("#layerpop_num2").val() - 1);
          var val = 3000 * $("#layerpop_num2").val();
          $("#layerpop_val2").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#plus2").click(function(){
        if($("#layerpop_num2").val() < 8) {
          $("#layerpop_num2").val(+$("#layerpop_num2").val() + 1);
          var val = 3000 * $("#layerpop_num2").val();
          $("#layerpop_val2").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#layerpop_cancel2").click(function(){
        $("#layerpop_num2").val(1);
        $("#layerpop_val2").text("3000");
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#minus3").click(function(){
        if($("#layerpop_num3").val() > 1){
          $("#layerpop_num3").val(+$("#layerpop_num3").val() - 1);
          var val = 3000 * $("#layerpop_num3").val();
          $("#layerpop_val3").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#plus3").click(function(){
        if($("#layerpop_num3").val() < 8) {
          $("#layerpop_num3").val(+$("#layerpop_num3").val() + 1);
          var val = 3000 * $("#layerpop_num3").val();
          $("#layerpop_val3").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#layerpop_cancel3").click(function(){
        $("#layerpop_num3").val(1);
        $("#layerpop_val3").text("3000");
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#minus4").click(function(){
        if($("#layerpop_num4").val() > 1){
          $("#layerpop_num4").val(+$("#layerpop_num4").val() - 1);
          var val = 3000 * $("#layerpop_num").val();
          $("#layerpop_val4").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#plus4").click(function(){
        if($("#layerpop_num4").val() < 8) {
          $("#layerpop_num4").val(+$("#layerpop_num4").val() + 1);
          var val = 3000 * $("#layerpop_num4").val();
          $("#layerpop_val4").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#layerpop_cancel4").click(function(){
        $("#layerpop_num4").val(1);
        $("#layerpop_val4").text("3000");
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#minus5").click(function(){
        if($("#layerpop_num5").val() > 1){
          $("#layerpop_num5").val(+$("#layerpop_num5").val() - 1);
          var val = 2500 * $("#layerpop_num5").val();
          $("#layerpop_val5").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#plus5").click(function(){
        if($("#layerpop_num5").val() < 8) {
          $("#layerpop_num5").val(+$("#layerpop_num5").val() + 1);
          var val = 2500 * $("#layerpop_num5").val();
          $("#layerpop_val5").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#layerpop_cancel5").click(function(){
        $("#layerpop_num5").val(1);
        $("#layerpop_val5").text("2500");
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#minus6").click(function(){
        if($("#layerpop_num6").val() > 1){
          $("#layerpop_num6").val(+$("#layerpop_num6").val() - 1);
          var val = 2500 * $("#layerpop_num6").val();
          $("#layerpop_val6").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#plus6").click(function(){
        if($("#layerpop_num6").val() < 8) {
          $("#layerpop_num6").val(+$("#layerpop_num6").val() + 1);
          var val = 2500 * $("#layerpop_num6").val();
          $("#layerpop_val6").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#layerpop_cancel6").click(function(){
        $("#layerpop_num6").val(1);
        $("#layerpop_val6").text("2500");
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#minus7").click(function(){
        if($("#layerpop_num7").val() > 1){
          $("#layerpop_num7").val(+$("#layerpop_num7").val() - 1);
          var val = 2500 * $("#layerpop_num7").val();
          $("#layerpop_val7").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#plus7").click(function(){
        if($("#layerpop_num7").val() < 8) {
          $("#layerpop_num7").val(+$("#layerpop_num7").val() + 1);
          var val = 2500 * $("#layerpop_num7").val();
          $("#layerpop_val7").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#layerpop_cancel7").click(function(){
        $("#layerpop_num7").val(1);
        $("#layerpop_val7").text("2500");
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#minus8").click(function(){
        if($("#layerpop_num8").val() > 1){
          $("#layerpop_num8").val(+$("#layerpop_num8").val() - 1);
          var val = 6000 * $("#layerpop_num8").val();
          $("#layerpop_val8").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#plus8").click(function(){
        if($("#layerpop_num8").val() < 8) {
          $("#layerpop_num8").val(+$("#layerpop_num8").val() + 1);
          var val = 6000 * $("#layerpop_num8").val();
          $("#layerpop_val8").text(val);
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $("#layerpop_cancel8").click(function(){
        $("#layerpop_num8").val(1);
        $("#layerpop_val8").text("6000");
      });
    });
  </script>

  <script type="text/javascript">
  $(function(){
    $("#bt1").click(function(){
        $("#bt1").addClass("active");
        $("#bt2").removeClass("active");
        $("#bt3").removeClass("active");
        $("#bt4").removeClass("active");
    });
  });

  $(function(){
    $("#bt2").click(function(){
      $("#bt1").removeClass("active");
      $("#bt2").addClass("active");
      $("#bt3").removeClass("active");
      $("#bt4").removeClass("active");
    });
  });

  $(function(){
    $("#bt3").click(function(){
      $("#bt1").removeClass("active");
      $("#bt2").removeClass("active");
      $("#bt3").addClass("active");
      $("#bt4").removeClass("active");
    });
  });

  $(function(){
    $("#bt4").click(function(){
      $("#bt1").removeClass("active");
      $("#bt2").removeClass("active");
      $("#bt3").removeClass("active");
      $("#bt4").addClass("active");
    });
  });
  </script>

  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <br>
            <hr class="colorgraph">
              <center>
                <div>
            			<button id="bt1" class="btn btn-default filter-button active" data-filter="all">All</button>
            			<button id="bt2" class="btn btn-default filter-button" data-filter="snack">Snack</button>
            			<button id="bt3" class="btn btn-default filter-button" data-filter="drink">Drink</button>
            			<button id="bt4" class="btn btn-default filter-button" data-filter="combo">Combo Set</button>
            	  </div>
              <hr class="colorgraph">
                <br>
                  <div id="myTabContent" class="tab-content">
                    <div class="row text-center">
                      <div class="col-md-3 col-sm-6 filter snack">
                          <div class="thumbnail">
                              <img src="img/popcorn_1.jpg" alt="">
                              <div class="caption">
                                  <h3>팝콘</h3>
                                  <h4>판매가 : 4000원</h4>

                                  <p>

                                    <button class="btn btn-default" data-target="#layerpop" data-toggle="modal">구매하기</button><br>
                                    <form action="/store" accept-charset="UTF-8" role="form" method="post" action="">
                                      <input name="name" type="hidden" value="팝콘" />
                                      <input name="price" type="hidden" value="4000" />
                                      <input name="buyer" type="hidden" value="<%=loginsignal[0].id%>" />
                                    <div class="modal fade" id="layerpop" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- header title -->
                                            <h3 class="modal-title">상품구매</h3>
                                          </div>
                                          <!-- body -->
                                          <div class="box">
                                            <div class="col-lg-12">
                                              <div style="width:30%; float:left;">
                                                <img class="img-responsive img-border img-left" src="img/popcorn_1.jpg" alt="">
                                              </div>
                                              <div style="width:65%; float:right">
                                                <h2 class="intro-text text-left">팝콘</h2>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">사용가능 영화관 : 전체영화관</h4>
                                                <h4 class="intro-text text-left">유효기간 : 유효기간은 구매일로부터 2년입니다.(일자기준)</h4>
                                                <h4 class="intro-text text-left">판매수량 : 1회 8개 구매가능</h4>
                                                <h4 class="intro-text text-left">구매 후 취소: 구매 일로 일주일 이내에만 취소가 가능합니다.</h4>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">스토어 판매가 : 4000 원</h4>
                                                <div style="margin: 0 auto;">
                                                  <div style="float:left;">
                                                    <h4 class="intro-text text-left">수량 </h4>
                                                  </div>

                                                  <div style="float:left;">
                                                    <div style="width:140px;">
                                                      <div class="input-group" style="margin-left:20px;">
                                                         <span class="input-group-btn">
                                                             <button id="minus" type="button" class="btn btn-default btn-number" data-type="minus" data-field="amount">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                             </button>
                                                         </span>
                                                         <input id="layerpop_num" type="text" name="amount" class="form-control input-number" value="1" min="1" max="8">
                                                         <span class="input-group-btn">
                                                             <button id="plus" type="button" class="btn btn-default btn-number" data-type="plus" data-field="amount">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                             </button>
                                                         </span>
                                                     </div>
                                                   </div>
                                                 </div>
                                                </div>
                                                <div style="clear:left;"></div>
                                                <hr></hr>
                                                 <div style="margin: 0 auto;">
                                                   <div style="float:left;">
                                                     <h4 class="intro-text text-left">총 판매가 : </h4>
                                                   </div>

                                                   <div style="float:left;">
                                                      <h4 style="margin-left:10px;">
                                                        <span id=layerpop_val>4000</span>
                                                      </h4>
                                                  </div>

                                                  <div style="float:left;">
                                                   <h4 style="margin-left:10px;" class="intro-text text-left">원</h4>
                                                  </div>
                                                </div>
                                              <div style="clear:left;"></div>
                                              <hr class="visible-xs"></hr>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Footer -->

                                          <div class="modal-footer">

                                            <button type="submit" class="btn btn-default">구매</button>
                                            <button id="layerpop_cancel" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>

                                          </div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                     </form>

                                  </p>

                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 filter snack">
                          <div class="thumbnail">
                              <img src="img/bagel.jpg" alt="">
                              <div class="caption">
                                  <h3>베이글</h3>
                                  <h4>판매가 : 3000원</h4>
                                  <p>
                                    <button class="btn btn-default" data-target="#layerpop1" data-toggle="modal">구매하기</button><br/>
                                    <form action="/store" accept-charset="UTF-8" role="form" method="post" action="">
                                      <input name="name" type="hidden" value="베이글" />
                                      <input name="price" type="hidden" value="3000" />
                                      <input name="buyer" type="hidden" value="<%=loginsignal[0].id%>" />
                                    <div class="modal fade" id="layerpop1" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- header title -->
                                            <h3 class="modal-title">상품구매</h3>
                                          </div>
                                          <!-- body -->
                                          <div class="box">
                                            <div class="col-lg-12">
                                              <div style="width:30%; float:left;">
                                                <img class="img-responsive img-border img-left" src="img/bagel.jpg" alt="">
                                              </div>
                                              <div style="width:65%; float:right">
                                                <h2 class="intro-text text-left">베이글</h2>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">사용가능 영화관 : 전체영화관</h4>
                                                <h4 class="intro-text text-left">유효기간 : 유효기간은 구매일로부터 2년입니다.(일자기준)</h4>
                                                <h4 class="intro-text text-left">판매수량 : 1회 8개 구매가능</h4>
                                                <h4 class="intro-text text-left">구매 후 취소: 구매 일로 일주일 이내에만 취소가 가능합니다.</h4>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">스토어 판매가 : 3000 원</h4>
                                                <div style="margin: 0 auto;">
                                                  <div style="float:left;">
                                                    <h4 class="intro-text text-left">수량 </h4>
                                                  </div>

                                                  <div style="float:left;">
                                                    <div style="width:140px;">
                                                      <div class="input-group" style="margin-left:20px;">
                                                         <span class="input-group-btn">
                                                             <button id="minus1" type="button" class="btn btn-default btn-number" data-type="minus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-minus"></span>
                                                             </button>
                                                         </span>
                                                         <input id="layerpop_num1" type="text" name="amount" class="form-control input-number" value="1" min="1" max="8">
                                                         <span class="input-group-btn">
                                                             <button id="plus1" type="button" class="btn btn-default btn-number" data-type="plus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-plus"></span>
                                                             </button>
                                                         </span>
                                                     </div>
                                                   </div>
                                                 </div>
                                               </div>
                                               <div style="clear:left;"></div>
                                               <hr></hr>
                                               <div style="margin: 0 auto;">
                                                 <div style="float:left;">
                                                   <h4 class="intro-text text-left">총 판매가 : </h4>
                                                 </div>

                                                 <div style="float:left;">
                                                    <h4 style="margin-left:10px;">
                                                      <span id=layerpop_val1>3000</span>
                                                    </h4>
                                                </div>

                                                <div style="float:left;">
                                                 <h4 style="margin-left:10px;" class="intro-text text-left">원</h4>
                                               </div>
                                              </div>
                                              <div style="clear:left;"></div>
                                              <hr class="visible-xs">
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">구매</button>
                                            <button id="layerpop_cancel1" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                    </form>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 filter snack">
                          <div class="thumbnail">
                              <img src="img/nuggets.jpg" alt="">
                              <div class="caption">
                                  <h3>너겟</h3>
                                  <h4>판매가 : 3000원</h4>
                                  <p>
                                    <button class="btn btn-default" data-target="#layerpop2" data-toggle="modal">구매하기</button><br/>
                                    <form action="/store" accept-charset="UTF-8" role="form" method="post" action="">
                                      <input name="name" type="hidden" value="너겟" />
                                      <input name="price" type="hidden" value="3000" />
                                      <input name="buyer" type="hidden" value="<%=loginsignal[0].id%>" />
                                    <div class="modal fade" id="layerpop2" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- header title -->
                                            <h3 class="modal-title">상품구매</h3>
                                          </div>
                                          <!-- body -->
                                          <div class="box">
                                            <div class="col-lg-12">
                                              <div style="width:30%; float:left;">
                                                <img class="img-responsive img-border img-left" src="img/nuggets.jpg" alt="">
                                              </div>
                                              <div style="width:65%; float:right">
                                                <h2 class="intro-text text-left">너겟</h2>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">사용가능 영화관 : 전체영화관</h4>
                                                <h4 class="intro-text text-left">유효기간 : 유효기간은 구매일로부터 2년입니다.(일자기준)</h4>
                                                <h4 class="intro-text text-left">판매수량 : 1회 8개 구매가능</h4>
                                                <h4 class="intro-text text-left">구매 후 취소: 구매 일로 일주일 이내에만 취소가 가능합니다.</h4>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">스토어 판매가 : 3000 원</h4>
                                                <div style="margin: 0 auto;">
                                                  <div style="float:left;">
                                                    <h4 class="intro-text text-left">수량 </h4>
                                                  </div>

                                                  <div style="float:left;">
                                                    <div style="width:140px;">
                                                      <div class="input-group" style="margin-left:20px;">
                                                         <span class="input-group-btn">
                                                             <button id="minus2" type="button" class="btn btn-default btn-number" data-type="minus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-minus"></span>
                                                             </button>
                                                         </span>
                                                         <input id="layerpop_num2" type="text" name="amount" class="form-control input-number" value="1" min="1" max="8">
                                                         <span class="input-group-btn">
                                                             <button id="plus2" type="button" class="btn btn-default btn-number" data-type="plus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-plus"></span>
                                                             </button>
                                                         </span>
                                                     </div>
                                                   </div>
                                                 </div>
                                               </div>
                                               <div style="clear:left;"></div>
                                               <hr></hr>
                                               <div style="margin: 0 auto;">
                                                 <div style="float:left;">
                                                   <h4 class="intro-text text-left">총 판매가 : </h4>
                                                 </div>

                                                 <div style="float:left;">
                                                    <h4 style="margin-left:10px;">
                                                      <span id=layerpop_val2>3000</span>
                                                    </h4>
                                                </div>

                                                <div style="float:left;">
                                                 <h4 style="margin-left:10px;" class="intro-text text-left">원</h4>
                                               </div>
                                              </div>
                                              <div style="clear:left;"></div>
                                              <hr class="visible-xs">
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">구매</button>
                                            <button id="layerpop_cancel2" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    </form>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 filter snack">
                          <div class="thumbnail">
                              <img src="img/sandwiches.jpg" alt="">
                              <div class="caption">
                                  <h3>샌드위치</h3>
                                  <h4>판매가 : 3000원</h4>
                                  <p>
                                    <button class="btn btn-default" data-target="#layerpop3" data-toggle="modal">구매하기</button><br/>
                                    <form action="/store" accept-charset="UTF-8" role="form" method="post" action="">
                                      <input name="name" type="hidden" value="샌드위치" />
                                      <input name="price" type="hidden" value="3000" />
                                      <input name="buyer" type="hidden" value="<%=loginsignal[0].id%>" />
                                    <div class="modal fade" id="layerpop3" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- header title -->
                                            <h3 class="modal-title">상품구매</h3>
                                          </div>
                                          <!-- body -->
                                          <div class="box">
                                            <div class="col-lg-12">
                                              <div style="width:30%; float:left;">
                                                <img class="img-responsive img-border img-left" src="img/sandwiches.jpg" alt="">
                                              </div>
                                              <div style="width:65%; float:right">
                                                <h2 class="intro-text text-left">샌드위치</h2>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">사용가능 영화관 : 전체영화관</h4>
                                                <h4 class="intro-text text-left">유효기간 : 유효기간은 구매일로부터 2년입니다.(일자기준)</h4>
                                                <h4 class="intro-text text-left">판매수량 : 1회 8개 구매가능</h4>
                                                <h4 class="intro-text text-left">구매 후 취소: 구매 일로 일주일 이내에만 취소가 가능합니다.</h4>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">스토어 판매가 : 3000 원</h4>
                                                <div style="margin: 0 auto;">
                                                  <div style="float:left;">
                                                    <h4 class="intro-text text-left">수량 </h4>
                                                  </div>

                                                  <div style="float:left;">
                                                    <div style="width:140px;">
                                                      <div class="input-group" style="margin-left:20px;">
                                                         <span class="input-group-btn">
                                                             <button id="minus3" type="button" class="btn btn-default btn-number" data-type="minus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-minus"></span>
                                                             </button>
                                                         </span>
                                                         <input id="layerpop_num3" type="text" name="amount" class="form-control input-number" value="1" min="1" max="8">
                                                         <span class="input-group-btn">
                                                             <button id="plus3" type="button" class="btn btn-default btn-number" data-type="plus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-plus"></span>
                                                             </button>
                                                         </span>
                                                     </div>
                                                   </div>
                                                 </div>
                                               </div>
                                               <div style="clear:left;"></div>
                                               <hr></hr>
                                               <div style="margin: 0 auto;">
                                                 <div style="float:left;">
                                                   <h4 class="intro-text text-left">총 판매가 : </h4>
                                                 </div>

                                                 <div style="float:left;">
                                                    <h4 style="margin-left:10px;">
                                                      <span id=layerpop_val3>3000</span>
                                                    </h4>
                                                </div>

                                                <div style="float:left;">
                                                 <h4 style="margin-left:10px;" class="intro-text text-left">원</h4>
                                               </div>
                                              </div>
                                              <div style="clear:left;"></div>
                                              <hr class="visible-xs">
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">구매</button>
                                            <button id="layerpop_cancel3" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    </form>
                                  </p>
                              </div>
                          </div>
                      </div>
                </br>
              </center>
              <center>
                  <div id="myTabContent" class="tab-content">
                    <div class="row text-center">
                      <div class="col-md-3 col-sm-6 filter snack">
                          <div class="thumbnail">
                              <img src="img/nacho.jpg" alt="">
                              <div class="caption">
                                  <h3>나초</h3>
                                  <h4>판매가 : 3000원</h4>
                                  <p>
                                    <button class="btn btn-default" data-target="#layerpop4" data-toggle="modal">구매하기</button><br/>
                                    <form action="/store" accept-charset="UTF-8" role="form" method="post" action="">
                                      <input name="name" type="hidden" value="나초" />
                                      <input name="price" type="hidden" value="3000" />
                                      <input name="buyer" type="hidden" value="<%=loginsignal[0].id%>" />
                                    <div class="modal fade" id="layerpop4" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- header title -->
                                            <h3 class="modal-title">상품구매</h3>
                                          </div>
                                          <!-- body -->
                                          <div class="box">
                                            <div class="col-lg-12">
                                              <div style="width:30%; float:left;">
                                                <img class="img-responsive img-border img-left" src="img/nacho.jpg" alt="">
                                              </div>
                                              <div style="width:65%; float:right">
                                                <h2 class="intro-text text-left">나초</h2>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">사용가능 영화관 : 전체영화관</h4>
                                                <h4 class="intro-text text-left">유효기간 : 유효기간은 구매일로부터 2년입니다.(일자기준)</h4>
                                                <h4 class="intro-text text-left">판매수량 : 1회 8개 구매가능</h4>
                                                <h4 class="intro-text text-left">구매 후 취소: 구매 일로 일주일 이내에만 취소가 가능합니다.</h4>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">스토어 판매가 : 3000 원</h4>
                                                <div style="margin: 0 auto;">
                                                  <div style="float:left;">
                                                    <h4 class="intro-text text-left">수량 </h4>
                                                  </div>

                                                  <div style="float:left;">
                                                    <div style="width:140px;">
                                                      <div class="input-group" style="margin-left:20px;">
                                                         <span class="input-group-btn">
                                                             <button id="minus4" type="button" class="btn btn-default btn-number" data-type="minus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-minus"></span>
                                                             </button>
                                                         </span>
                                                         <input id="layerpop_num4" type="text" name="amount" class="form-control input-number" value="1" min="1" max="8">
                                                         <span class="input-group-btn">
                                                             <button id="plus4" type="button" class="btn btn-default btn-number" data-type="plus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-plus"></span>
                                                             </button>
                                                         </span>
                                                     </div>
                                                   </div>
                                                 </div>
                                               </div>
                                               <div style="clear:left;"></div>
                                               <hr></hr>
                                               <div style="margin: 0 auto;">
                                                 <div style="float:left;">
                                                   <h4 class="intro-text text-left">총 판매가 : </h4>
                                                 </div>

                                                 <div style="float:left;">
                                                    <h4 style="margin-left:10px;">
                                                      <span id=layerpop_val4>3000</span>
                                                    </h4>
                                                </div>

                                                <div style="float:left;">
                                                 <h4 style="margin-left:10px;" class="intro-text text-left">원</h4>
                                               </div>
                                              </div>
                                              <div style="clear:left;"></div>
                                              <hr class="visible-xs">
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">구매</button>
                                            <button id="layerpop_cancel4" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    </form>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 filter drink">
                          <div class="thumbnail">
                              <img src="img/coke.jpg" alt="">
                              <div class="caption">
                                  <h3>콜라</h3>
                                  <h4>판매가 : 2500원</h4>
                                  <p>
                                    <button class="btn btn-default" data-target="#layerpop5" data-toggle="modal">구매하기</button><br/>
                                    <form action="/store" accept-charset="UTF-8" role="form" method="post" action="">
                                      <input name="name" type="hidden" value="콜라" />
                                      <input name="price" type="hidden" value="2500" />
                                      <input name="buyer" type="hidden" value="<%=loginsignal[0].id%>" />
                                    <div class="modal fade" id="layerpop5" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- header title -->
                                            <h3 class="modal-title">상품구매</h3>
                                          </div>
                                          <!-- body -->
                                          <div class="box">
                                            <div class="col-lg-12">
                                              <div style="width:30%; float:left;">
                                                <img class="img-responsive img-border img-left" src="img/coke.jpg" alt="">
                                              </div>
                                              <div style="width:65%; float:right">
                                                <h2 class="intro-text text-left">콜라</h2>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">사용가능 영화관 : 전체영화관</h4>
                                                <h4 class="intro-text text-left">유효기간 : 유효기간은 구매일로부터 2년입니다.(일자기준)</h4>
                                                <h4 class="intro-text text-left">판매수량 : 1회 8개 구매가능</h4>
                                                <h4 class="intro-text text-left">구매 후 취소: 구매 일로 일주일 이내에만 취소가 가능합니다.</h4>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">스토어 판매가 : 2500 원</h4>
                                                <div style="margin: 0 auto;">
                                                  <div style="float:left;">
                                                    <h4 class="intro-text text-left">수량 </h4>
                                                  </div>

                                                  <div style="float:left;">
                                                    <div style="width:140px;">
                                                      <div class="input-group" style="margin-left:20px;">
                                                         <span class="input-group-btn">
                                                             <button id="minus5" type="button" class="btn btn-default btn-number" data-type="minus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-minus"></span>
                                                             </button>
                                                         </span>
                                                         <input id="layerpop_num5" type="text" name="amount" class="form-control input-number" value="1" min="1" max="8">
                                                         <span class="input-group-btn">
                                                             <button id="plus5" type="button" class="btn btn-default btn-number" data-type="plus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-plus"></span>
                                                             </button>
                                                         </span>
                                                     </div>
                                                   </div>
                                                 </div>
                                               </div>
                                               <div style="clear:left;"></div>
                                               <hr></hr>
                                               <div style="margin: 0 auto;">
                                                 <div style="float:left;">
                                                   <h4 class="intro-text text-left">총 판매가 : </h4>
                                                 </div>

                                                 <div style="float:left;">
                                                    <h4 style="margin-left:10px;">
                                                      <span id=layerpop_val5>2500</span>
                                                    </h4>
                                                </div>

                                                <div style="float:left;">
                                                 <h4 style="margin-left:10px;" class="intro-text text-left">원</h4>
                                               </div>
                                              </div>
                                              <div style="clear:left;"></div>
                                              <hr class="visible-xs">
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">구매</button>
                                            <button id="layerpop_cancel5" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    </form>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 filter drink">
                          <div class="thumbnail">
                              <img src="img/americano.jpg" alt="">
                              <div class="caption">
                                  <h3>아메리카노</h3>
                                  <h4>판매가 : 2500원</h4>
                                  <p>
                                    <button class="btn btn-default" data-target="#layerpop6" data-toggle="modal">구매하기</button><br/>
                                    <form action="/store" accept-charset="UTF-8" role="form" method="post" action="">
                                      <input name="name" type="hidden" value="아메리카노" />
                                      <input name="price" type="hidden" value="2500" />
                                      <input name="buyer" type="hidden" value="<%=loginsignal[0].id%>" />
                                    <div class="modal fade" id="layerpop6" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- header title -->
                                            <h3 class="modal-title">상품구매</h3>
                                          </div>
                                          <!-- body -->
                                          <div class="box">
                                            <div class="col-lg-12">
                                              <div style="width:30%; float:left;">
                                                <img class="img-responsive img-border img-left" src="img/americano.jpg" alt="">
                                              </div>
                                              <div style="width:65%; float:right">
                                                <h2 class="intro-text text-left">아메리카노</h2>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">사용가능 영화관 : 전체영화관</h4>
                                                <h4 class="intro-text text-left">유효기간 : 유효기간은 구매일로부터 2년입니다.(일자기준)</h4>
                                                <h4 class="intro-text text-left">판매수량 : 1회 8개 구매가능</h4>
                                                <h4 class="intro-text text-left">구매 후 취소: 구매 일로 일주일 이내에만 취소가 가능합니다.</h4>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">스토어 판매가 : 2500 원</h4>
                                                <div style="margin: 0 auto;">
                                                  <div style="float:left;">
                                                    <h4 class="intro-text text-left">수량 </h4>
                                                  </div>

                                                  <div style="float:left;">
                                                    <div style="width:140px;">
                                                      <div class="input-group" style="margin-left:20px;">
                                                         <span class="input-group-btn">
                                                             <button id="minus6" type="button" class="btn btn-default btn-number" data-type="minus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-minus"></span>
                                                             </button>
                                                         </span>
                                                         <input id="layerpop_num6" type="text" name="amount" class="form-control input-number" value="1" min="1" max="8">
                                                         <span class="input-group-btn">
                                                             <button id="plus6" type="button" class="btn btn-default btn-number" data-type="plus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-plus"></span>
                                                             </button>
                                                         </span>
                                                     </div>
                                                   </div>
                                                 </div>
                                               </div>
                                               <div style="clear:left;"></div>
                                               <hr></hr>
                                               <div style="margin: 0 auto;">
                                                 <div style="float:left;">
                                                   <h4 class="intro-text text-left">총 판매가 : </h4>
                                                 </div>

                                                 <div style="float:left;">
                                                    <h4 style="margin-left:10px;">
                                                      <span id=layerpop_val6>2500</span>
                                                    </h4>
                                                </div>

                                                <div style="float:left;">
                                                 <h4 style="margin-left:10px;" class="intro-text text-left">원</h4>
                                               </div>
                                              </div>
                                              <div style="clear:left;"></div>
                                              <hr class="visible-xs">
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">구매</button>
                                            <button id="layerpop_cancel6" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    </form>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 filter drink">
                          <div class="thumbnail">
                              <img src="img/lemonade.jpg" alt="">
                              <div class="caption">
                                  <h3>레몬에이드</h3>
                                  <h4>판매가 : 2500원</h4>
                                  <p>
                                    <button class="btn btn-default" data-target="#layerpop7" data-toggle="modal">구매하기</button><br/>
                                    <form action="/store" accept-charset="UTF-8" role="form" method="post" action="">
                                      <input name="name" type="hidden" value="레몬에이드" />
                                      <input name="price" type="hidden" value="2500" />
                                      <input name="buyer" type="hidden" value="<%=loginsignal[0].id%>" />
                                    <div class="modal fade" id="layerpop7" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- header title -->
                                            <h3 class="modal-title">상품구매</h3>
                                          </div>
                                          <!-- body -->
                                          <div class="box">
                                            <div class="col-lg-12">
                                              <div style="width:30%; float:left;">
                                                <img class="img-responsive img-border img-left" src="img/lemonade.jpg" alt="">
                                              </div>
                                              <div style="width:65%; float:right">
                                                <h2 class="intro-text text-left">레몬에이드</h2>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">사용가능 영화관 : 전체영화관</h4>
                                                <h4 class="intro-text text-left">유효기간 : 유효기간은 구매일로부터 2년입니다.(일자기준)</h4>
                                                <h4 class="intro-text text-left">판매수량 : 1회 8개 구매가능</h4>
                                                <h4 class="intro-text text-left">구매 후 취소: 구매 일로 일주일 이내에만 취소가 가능합니다.</h4>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">스토어 판매가 : 2500 원</h4>
                                                <div style="margin: 0 auto;">
                                                  <div style="float:left;">
                                                    <h4 class="intro-text text-left">수량 </h4>
                                                  </div>

                                                  <div style="float:left;">
                                                    <div style="width:140px;">
                                                      <div class="input-group" style="margin-left:20px;">
                                                         <span class="input-group-btn">
                                                             <button id="minus7" type="button" class="btn btn-default btn-number" data-type="minus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-minus"></span>
                                                             </button>
                                                         </span>
                                                         <input id="layerpop_num7" type="text" name="amount" class="form-control input-number" value="1" min="1" max="8">
                                                         <span class="input-group-btn">
                                                             <button id="plus7" type="button" class="btn btn-default btn-number" data-type="plus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-plus"></span>
                                                             </button>
                                                         </span>
                                                     </div>
                                                   </div>
                                                 </div>
                                               </div>
                                               <div style="clear:left;"></div>
                                               <hr></hr>
                                               <div style="margin: 0 auto;">
                                                 <div style="float:left;">
                                                   <h4 class="intro-text text-left">총 판매가 : </h4>
                                                 </div>

                                                 <div style="float:left;">
                                                    <h4 style="margin-left:10px;">
                                                      <span id=layerpop_val7>2500</span>
                                                    </h4>
                                                </div>

                                                <div style="float:left;">
                                                 <h4 style="margin-left:10px;" class="intro-text text-left">원</h4>
                                               </div>
                                              </div>
                                              <div style="clear:left;"></div>
                                              <hr class="visible-xs">
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">구매</button>
                                            <button id="layerpop_cancel7" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    </form>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 filter combo">
                          <div class="thumbnail">
                              <img src="img/combo1.jpg" alt="">
                              <div class="caption">
                                  <h4>콤보세트(팝콘1+콜라1)</h4>
                                  <h4>판매가 : 6000원</h4>
                                  <p>
                                    <button class="btn btn-default" data-target="#layerpop8" data-toggle="modal">구매하기</button><br/>
                                    <form action="/store" accept-charset="UTF-8" role="form" method="post" action="">
                                      <input name="name" type="hidden" value="콤보세트(팝콘1+콜라1)" />
                                      <input name="price" type="hidden" value="6000" />
                                      <input name="buyer" type="hidden" value="<%=loginsignal[0].id%>" />
                                    <div class="modal fade" id="layerpop8" >
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <!-- header -->
                                          <div class="modal-header">
                                            <!-- header title -->
                                            <h3 class="modal-title">상품구매</h3>
                                          </div>
                                          <!-- body -->
                                          <div class="box">
                                            <div class="col-lg-12">
                                              <div style="width:30%; float:left;">
                                                <img class="img-responsive img-border img-left" src="img/combo1.jpg" alt="">
                                              </div>
                                              <div style="width:65%; float:right">
                                                <h2 class="intro-text text-left">콤보세트(팝콘1+콜라1)</h2>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">사용가능 영화관 : 전체영화관</h4>
                                                <h4 class="intro-text text-left">유효기간 : 유효기간은 구매일로부터 2년입니다.(일자기준)</h4>
                                                <h4 class="intro-text text-left">판매수량 : 1회 8개 구매가능</h4>
                                                <h4 class="intro-text text-left">구매 후 취소: 구매 일로 일주일 이내에만 취소가 가능합니다.</h4>
                                                <hr></hr>
                                                <h4 class="intro-text text-left">스토어 판매가 : 6000 원</h4>
                                                <div style="margin: 0 auto;">
                                                  <div style="float:left;">
                                                    <h4 class="intro-text text-left">수량 </h4>
                                                  </div>

                                                  <div style="float:left;">
                                                    <div style="width:140px;">
                                                      <div class="input-group" style="margin-left:20px;">
                                                         <span class="input-group-btn">
                                                             <button id="minus8" type="button" class="btn btn-default btn-number" data-type="minus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-minus"></span>
                                                             </button>
                                                         </span>
                                                         <input id="layerpop_num8" type="text" name="amount" class="form-control input-number" value="1" min="1" max="8">
                                                         <span class="input-group-btn">
                                                             <button id="plus8" type="button" class="btn btn-default btn-number" data-type="plus" data-field="amount">
                                                                 <span class="glyphicon glyphicon-plus"></span>
                                                             </button>
                                                         </span>
                                                     </div>
                                                   </div>
                                                 </div>
                                               </div>
                                               <div style="clear:left;"></div>
                                               <hr></hr>
                                               <div style="margin: 0 auto;">
                                                 <div style="float:left;">
                                                   <h4 class="intro-text text-left">총 판매가 : </h4>
                                                 </div>

                                                 <div style="float:left;">
                                                    <h4 style="margin-left:10px;">
                                                      <span id=layerpop_val8>6000</span>
                                                    </h4>
                                                </div>

                                                <div style="float:left;">
                                                 <h4 style="margin-left:10px;" class="intro-text text-left">원</h4>
                                               </div>
                                              </div>
                                              <div style="clear:left;"></div>
                                              <hr class="visible-xs">
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Footer -->
                                          <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">구매</button>
                                            <button id="layerpop_cancel8" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </p>
                              </div>
                          </div>
                      </div>
              </center>
            </br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Features -->

<script>
$(document).ready(function(){

    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        if(value == "all")
        {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else
        {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
        }
    });
});
</script>

</body>
</html>
